*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
	border: none;
}

/* CSS variables */

:root {
	--color-white: hsl(252, 30%, 100%);
	--color-light: hsl(252, 30%, 95%);
	--color-gray: hsl(252, 15%, 65%);
	--color-primary: hsl(252, 75%, 60%);
	--color-secondary: hsl(252, 100%, 90%);
	--color-success: hsl(120, 95%, 65%);
	--color-danger: hsl(0, 95%, 65%);
	--color-dark: hsl(252, 30%, 17%);
	--color-black: hsl(252, 30%, 10%);

	--border-radius: 2rem;
	--card-border-radius: 1rem;
	--btn-padding: 0.6rem 2rem;
	--search-padding: 0.6rem 1rem;
	--card-padding: 1rem;

	--sticky-top-left: 5.4rem;
	--sticky-top-right: -18rem;
}

/* General Styling */

body {
	font-family: 'Poppins', sans-serif;
	color: var(--color-dark);
	background: var(--color-light);
	overflow-x: hidden;
}

img {
	display: block;
	width: 100%;
}

.container {
	width: 80%;
	margin: 0 auto;
}

.btn {
	display: inline-block;
	padding: var(--btn-padding);
	border-radius: var(--border-radius);
	cursor: pointer;
	transition: all 300ms ease-in;
	font-size: 1rem;
	font-weight: 500;
}
.btn:hover {
	opacity: 0.8;
}

.btn-primary {
	background: var(--color-primary);
	color: white;
}

.btn-gray {
	background: var(--color-gray);
}

.profile-picture {
	width: 2rem;
	aspect-ratio: 1/1;
	border-radius: 50%;
	overflow: hidden;
}

.text-bold {
	font-weight: 600;
}

.text-muted {
	color: var(--color-gray);
}

/* Styles for NavBar */
nav {
	width: 100%;
	background-color: var(--color-white);
	padding: 0.8rem 0;
	position: fixed;
	top: 0;
	z-index: 10;
}

nav .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav .search-bar {
	background-color: var(--color-light);
	border-radius: var(--border-radius);
	padding: var(--search-padding);
}

nav .search-bar input[type='search'] {
	background: transparent;
	width: 30vh;
	margin-left: 1rem;
	font-size: 1rem;
	color: var(--color-dark);
}

nav .search-bar input[type='search']::placeholder {
	color: var(--color-dark);
}

nav .create-post {
	display: flex;
	align-items: center;
	gap: 1rem;
}

/* Side Bar */
main {
	position: relative;
	top: 6rem;
}

main .container {
	display: grid;
	grid-template-columns: 20vw auto 25vw;
	column-gap: 2rem;
	position: relative;
}

/* Leftbar */
main .container .leftbar {
	/* height: max-content; */
	position: sticky;
	top: var(--sticky-top-left);
}

main .container .leftbar .profile {
	display: flex;
	align-items: center;
	background-color: var(--color-white);
	border-radius: var(--card-border-radius);
	padding: var(--card-padding);
	column-gap: 1rem;
	width: 100%;
}

.leftbar .sidebar {
	margin-top: 1rem;
	background-color: var(--color-white);
	border-radius: var(--card-border-radius);
}

.leftbar .sidebar .menu-item {
	display: flex;
	align-items: center;
	cursor: pointer;
	height: 4rem;
	translate: all 300ms ease;
	/* keeping it position as need absolute in child */
	position: relative;
}

.leftbar .sidebar .menu-item:hover {
	background-color: var(--color-light);
}

.leftbar .sidebar .menu-item.active {
	color: var(--color-primary);
	background: var(--color-light);
}

.leftbar .sidebar .menu-item.active::before {
	content: '';
	display: block;
	width: 0.5rem;
	height: 100%;
	background-color: var(--color-primary);
	position: absolute;
}

.leftbar .sidebar .menu-item:first-child.active {
	border-top-left-radius: var(--card-border-radius);
	overflow: hidden;
}

.leftbar .sidebar .menu-item.active:last-child {
	border-bottom-left-radius: var(--card-border-radius);
	overflow: hidden;
}

.leftbar .sidebar i {
	font-size: 1.4rem;
	color: var(--color-gray);
	margin-left: 1.5rem;
	position: relative;
}

.leftbar .sidebar i .notifications-count {
	background-color: var(--color-danger);
	border-radius: 0.8rem;
	color: var(--color-white);
	font-size: 0.7rem;
	position: absolute;
	padding: 0.1rem 0.4rem;
	top: -0.2rem;
	right: -0.3rem;
}

.leftbar .sidebar .menu-item h3 {
	margin-left: 1.5rem;
	font-size: 1rem;
}

.leftbar .btn {
	margin-top: 1rem;
	width: 100%;
	text-align: center;
	padding: 1rem 0;
}

/* Notification popup */
.leftbar .sidebar .notification-popup {
	background-color: var(--color-white);
	border-radius: var(--card-border-radius);
	width: 30rem;
	padding: var(--card-padding);
	position: absolute;
	top: 0rem;
	left: 110%;
	box-shadow: 0 0 2rem hsl(var(--color-primary), 75%, 60%, 25%);
	z-index: 8;
	display: none;
}
.leftbar .notification-popup::before {
	content: '';
	display: block;
	background: var(--color-white);
	width: 1.2rem;
	height: 1.2rem;
	position: absolute;
	left: -0.6rem;
	transform: rotate(45deg);
}

.sidebar .notification-popup > div {
	display: flex;
	align-items: flex-start;
	gap: 1rem;
	margin-bottom: 1rem;
}

.sidebar .notification-popup > div small {
	display: block;
}

/* feeed stlyes */
/* stories */
.middlebar .stories {
	display: flex;
	justify-content: space-between;
	height: 12rem;
	gap: 1rem;
}
.middlebar .stories .story {
	background: var(--color-white);
	border-radius: var(--card-border-radius);
	padding: var(--card-padding);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	font-size: 0.75rem;
	width: 100%;
	color: var(--color-white);
	position: relative;
	overflow: hidden;
}
.middlebar .stories .story::before {
	content: '';
	display: block;
	width: 100%;
	height: 5rem;
	background: linear-gradient(transparent, rgba(0, 0, 0, 0.7));
	position: absolute;
	bottom: 0;
}

.middlebar .stories .story > .profile-picture {
	align-self: flex-start;
	border: 2px solid var(--color-primary);
}

.middlebar .stories .story > p {
	z-index: 1;
}

.stories .story:nth-child(1) {
	background: url('./images/story-1.jpg') no-repeat center center/cover;
}

.stories .story:nth-child(2) {
	background: url('./images/story-2.jpg') no-repeat center center/cover;
}

.stories .story:nth-child(3) {
	background: url('./images/story-3.jpg') no-repeat center center/cover;
}

.stories .story:nth-child(4) {
	background: url('./images/story-4.jpg') no-repeat center center/cover;
}

/* Create Post */

.middlebar .create-post {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 1rem;
	background-color: var(--color-white);
	padding: 0.4rem var(--card-padding);
	border-radius: var(--card-border-radius);
}

.middlebar .create-post input[type='text'] {
	justify-self: start;
	width: 100%;
	padding-left: 1rem;
	margin-right: 1rem;
	color: var(--color-dark);
	background: transparent;
}

.middlebar .feeds .feed {
	display: flex;
	flex-direction: column;
	background: var(--color-white);
	margin: 1rem 0;
	border-radius: var(--card-border-radius);
	padding: var(--card-padding);
	font-size: 0.85rem;
	line-height: 1.5;
}

.middlebar .feeds .feed > .feed-header {
	display: flex;
	justify-content: space-between;
}

.feed > .feed-header .user {
	display: flex;
	gap: 1rem;
}

.feed > .feed-header .edit {
	cursor: pointer;
}

.feed .feed-body > .photo {
	border-radius: var(--card-border-radius);
	margin: 0.5rem 0;
	overflow: hidden;
}

.feed .feed-body > .action-button {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 1.2rem;
	margin: 0.5rem;
}

.feed .feed-footer > .liked-by {
	display: flex;
}
.feed .feed-footer > .liked-by > span {
	display: block;
	overflow: hidden;
	width: 1.4rem;
	height: 1.4rem;
	aspect-ratio: 1/1;
	border-radius: 50%;
	margin-left: -0.6rem;
}

.feed .feed-footer > .liked-by > span:first-child {
	margin: 0;
}

.feed .feed-footer > .liked-by > p {
	margin-left: 0.5rem;
}

/* rightbar */

main .container .rightbar {
	position: sticky;
	top: var(--sticky-top-right);
	bottom: 0;
}

.rightbar .messages {
	display: flex;
	flex-direction: column;
	background: var(--color-white);
	border-radius: var(--card-border-radius);
	padding: var(--card-padding);
}

.rightbar .messages .heading {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 1.2rem;
}
.rightbar .messages .search-bar {
	background-color: var(--color-gray);
	border-radius: var(--border-radius);
	padding: var(--search-padding);
	margin: 1rem 0;
	background: var(--color-light);
}

.rightbar .messages .search-bar input[type='search'] {
	background: transparent;
	font-size: 0.8rem;
}

.messages .search-bar input[type='search']::placeholder {
	color: var(--color-dark);
}

.rightbar .messages .category {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 0.8rem;
}

.rightbar .messages .category > h6 {
	flex: 1;
	border-bottom: 4px solid var(--color-light);
	padding-bottom: 0.5rem;
	font-size: 0.85rem;
	cursor: pointer;
}

.rightbar .messages .category > h6.active {
	border-color: var(--color-secondary);
}

.messages .category .message-requests {
	color: var(--color-primary);
}

.rightbar .messages .message {
	display: flex;
	align-items: flex-start;
	margin: 1rem 0;
	gap: 1rem;
}

.messages .message > .profile-picture {
	position: relative;
	overflow: visible;
}

.messages .message > .profile-picture > img {
	border-radius: 50%;
}

.messages .message > .profile-picture > .active {
	width: 0.8rem;
	height: 0.8rem;
	border: 3px solid var(--color-white);
	background: var(--color-success);
	border-radius: 50%;
	position: absolute;
	right: 0;
	bottom: 0;
}

.messages .message > .message-body > p {
	font-size: 0.8rem;
}

.rightbar .friend-requests > h4 {
	margin: 1rem 0;
}

.rightbar .friend-requests .request {
	background: var(--color-white);
	padding: var(--card-padding);
	border-radius: var(--card-border-radius);
}

.rightbar .friend-requests .request .info {
	display: flex;
	align-items: flex-start;
	gap: 1rem;
}

.rightbar .friend-requests .request .info p {
	font-size: 0.8rem;
}

.rightbar .friend-requests .request .action {
	margin: 1rem 0;
}

/* Theme Customization */

.theme-customize {
	background: rgba(255, 255, 255, 0.5);
	width: 100vw;
	height: 100vh;
	z-index: 100;
	font-size: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	text-align: center;
	/* font-size: 0.9rem; */
}

.theme-customize .card {
	background: var(--color-white);
	padding: 2.5rem;
	border-radius: var(--card-border-radius);
	width: 50%;
}

.theme-customize .card .header {
	margin: 1rem 0;
}

.theme-customize .card .font-size > div {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: var(--color-light);
	border-radius: var(--border-radius);
	padding: var(--search-padding);
}

.theme-customize .card .font-size .choose-font-size {
	background: var(--color-secondary);
	flex: 1;
	height: 0.3rem;
	margin: 0 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.card .font-size .choose-font-size > span {
	background-color: var(--color-secondary);
	width: 1rem;
	height: 1rem;
	border-radius: 50%;
	cursor: pointer;
}

.card .font-size .choose-font-size > span.active {
	background-color: var(--color-primary);
}

.theme-customize .card .color {
	margin-top: 2rem;
}

.theme-customize .card .color .choose-color {
	background: var(--color-light);
	flex: 1;
	margin: 0 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: var(--color-light);
	border-radius: var(--border-radius);
	padding: 1rem;
}

.card .color .choose-color > span {
	width: 2.2rem;
	height: 2.2rem;
	border-radius: 50%;
	cursor: pointer;
}

.card .color .choose-color > span:nth-child(1) {
	background: hsl(252, 75%, 60%);
}

.card .color .choose-color > span:nth-child(2) {
	background: hsl(52, 75%, 60%);
}
.card .color .choose-color > span:nth-child(3) {
	background: hsl(352, 75%, 60%);
}
.card .color .choose-color > span:nth-child(4) {
	background: hsl(152, 75%, 60%);
}
.card .color .choose-color > span:nth-child(5) {
	background: hsl(102, 75%, 60%);
}

.theme-customize .card .background {
	margin-top: 2rem;
}

.theme-customize .card .background .choose-bg {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.card .background .choose-bg > div {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 1rem;
	cursor: pointer;
	padding: var(--card-padding);
	border-radius: 0.4rem;
}

.card .background .choose-bg > div.active {
	border: 2px solid var(--color-primary);
}

.card .background .choose-bg .bg-1 {
	background-color: var(--color-white);
	color: var(--color-black);
}

.card .background .choose-bg .bg-2 {
	background-color: var(--color-dark);
	color: var(--color-white);
}

.card .background .choose-bg .bg-2 {
	background-color: hsl(252, 30%, 10%);
	color: var(--color-white);
}

.card .background .choose-bg > div >span{
	width: 2rem;
	height: 2rem;
	border: 2px solid var(--color-gray);
	border-radius: 1rem;
	margin-right: 1rem;
}